# All code is owned by the Branda organization, and pull requests will request reviews from anyone in this repository
* @Branda/backend

# For now, github and markdown files are solely owned, and any changes here should go through the sole owner
.github @sbrenner132
*.md @sbrenner132