html,
body {
  padding: 0;
  margin: 0;
}

.brand-logo {
  margin-left: 20px;
}

.brand-logo:hover {
  border-bottom: 3px solid #1e88e5;
}

#logoMain {
  height: 200px;
  margin-right: 10px;
}

#logo {
  height: 60px;
  margin-right: 10px;
}

.loginButtons {
  width: 100%;
}

.organizeTable {
  margin-left: 25%;
}

#google {
  background-color: #ea4335;
}

#linkedin {
  background-color: #0077b5;
}

#loginForm {
  margin-top: 80px;
}

#noAccount {
  margin-top: 20px;
}

#newEmployee {
  cursor: pointer;
}

#error {
  font-size: 175px;
}

.nav-logo {
  vertical-align: middle;
  margin-bottom: auto;
  margin-left: 20px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.schedule-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

/*#announcementBuilder {
	padding: 10px;
}*/

.circle-small {
  height: 30px;
  margin-left: 15px;
  margin-bottom: -10px;
}

.announcement-card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 20px 25px 20px 25px;
  border-radius: 4px;
  margin-top: 15px;
}

.announcement-card ul {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.announcement-item {
  padding: 20px 15px 5px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  margin-bottom: -1;
  min-height: 56;
}

.announcement-item span {
  font-size: 1.2em;
}

.announcement-item p {
  font-size: 1.07em;
}

.input-label {
  font-size: 1.2rem;
  line-height: 2;
}

.login-header {
  color: #4B5563;
  font-weight: 600;
  text-align: center;
}

.login-btn {
  background-color: #1B4370 !important;
  color: white;
  padding: 0 1.5rem;
  border-radius: 3px !important;
  font-weight: 500;
  letter-spacing: 0.7px !important;
  width: 100%;
  margin: 70px auto 10px auto;
}

.login-label {
  margin-top: 20px;
  margin-bottom: 2px;
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 600;
  color: #6B7280;
}

.login-input {
  text-align: center;
}

.login-card {
  margin: auto;
  width: 20%;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.25);
  padding: 20px 50px 20px 50px;
  border-radius: 4px;
}

input:focus:not([read-only]) {
	border-bottom: none!important;
	box-shadow: none!important;	
}

.shuttle-details {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.00938em;
}

.popup-form-bg {
  z-index: 1031;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #6B7280;
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

.popup-form-wrapper {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  z-index: 1032;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

.popup-form {
  background-color: white;
  margin: auto;
  padding: 20px 30px 20px 30px;
  border-radius: 5px;
  width: 25%;
}

.shuttle-form-header {
  color: #4B5563;
  font-weight: 600;
  text-align: center;
}

.shuttle-form-label {
  margin-top: 20px;
  margin-bottom: 2px;
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 600;
  color: #6B7280;
}

.shuttle-form-input {
  text-align: center;
}

.shuttle-form-btn {
  background-color: #1B4370 !important;
  color: white;
  padding: 0 1.5rem;
  border-radius: 3px !important;
  font-weight: 500;
  letter-spacing: 0.7px !important;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.shuttle-form-cancel-btn {
  background-color: white !important;
  color: #4B5563 !important;
  padding: 0 1.5rem;
  border-radius: 3px !important;
  font-weight: 500;
  letter-spacing: 0.7px !important;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.btn-row {
  display: flex;
  justify-content: space-between;
}

/* .MuiPickersToolbar-toolbar {
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #1A4370 !important;
}

.MuiPickersDay-daySelected {
  color: #fff;
  font-weight: 500;
  background-color: #1A4370 !important;
} */